@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

h1 {
    color: #00468B;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1em;
}

h2 {
    color: #00468B;
    margin-top: 0.1em;
}

h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

h4 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

h3 > small {
    color: #AAA;
}

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
    font-family: 'Open Sans', sans-serif;
}

.tasklist {
    font-family: monospace;
    margin-top: 2em;
}

.tasklist h2 {
    text-align: center;
}

.success {
    color: green;
}

.warning {
    color: yellow;
}

.error {
    color: red;
}

ul {
    list-style: none;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

@media screen and (max-width:767px) {
    .title h1 {
        text-align: center;
        padding-top: 0.2em;
    }

    .title .pure-menu {
        text-align: center;
    }

    .title .pure-menu li {
        text-align: left;
    }

    .l-box {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}

.visible-tiny {
    display: none;
}

@media screen and (max-width: 350px) {
    .visible-tiny {display: inherit};
}

/* pure-hidden-xs */
@media screen and (max-width:567px) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}
/* pure-hidden-sm */
@media screen and (min-width:568px) and (max-width:767px) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}
}
/* pure-hidden-md */
@media screen and (min-width:768px) and (max-width:1023px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}
/* pure-hidden-lg */
@media screen and (min-width:1024px) and (max-width:1279px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}
/* pure-hidden-xl */
@media screen and (min-width:1280px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}
}
